# Ignorar archivos de entorno
.env

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar configuraciones de VS Code
.vscode/

# Ignorar dependencias instaladas (si usas un entorno virtual dentro del proyecto)
venv/
env/
*.log

# Ignorar archivos de compilación de Python
*.egg-info/
dist/
build/

# Ignorar archivos de control de dependencias de pip
pip-log.txt
pip-delete-this-directory.txt

# Ignorar checkpoints de Jupyter
.ipynb_checkpoints/

# Ignorar carpeta spark del entorno local
spark/
